.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 76px;

    h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 122%;
        text-align: center;
        color: #303030;
        margin-bottom: 40px;
    }


    #trnasparent-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.02em;
        background: linear-gradient(180deg, #757575 22.59%, rgba(255, 255, 255, 0) 40.32%);
        background-clip: text;
        height: 100px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #full-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.02em;
    }

    .hidden {
        display: none;
    }

    .btnhidden {
        display: none;
    }

    img {
        margin-top: 0px;
    }
}